<section class="text-anti-flash-white container m-auto">
  <div
    class="grid px-4 py-16 mx-auto lg:gap-8 xl:gap-0 lg:py-24 lg:grid-cols-12"
  >
    <div class="mr-auto place-self-center lg:col-span-7">
      <h1
        class="max-w-2xl text-screaming-green mb-6 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl font-secondary"
      >
        OMDB
      </h1>
      <p
        class="max-w-2xl mb-10 font-light text-slate-gray md:text-lg lg:text-xl"
      >
        OMDB is a platform with a user-friendly interface where you can check
        all the information about the movies and TV series that you love
      </p>
      <a
        href="/auth/sign-up"
        class="inline-flex font-secondary items-center justify-center px-4 py-2 mr-4 text-base font-medium text-center rounded-lg bg-screaming-green text-richblack hover:bg-screaming-green/90 focus:outline-none focus:ring-2 focus:ring-screaming-green/60"
      >
        Get started
      </a>
      <a
        href="/auth/log-in"
        class="inline-flex font-secondary items-center justify-center px-4 py-2 mr-4 text-base font-medium text-center text-anti-flash-white hover:text-screaming-green focus:outline-none focus:ring-2 focus:ring-screaming-green/60"
      >
        Log In
      </a>
    </div>
    <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
      <img src="/images/movies_icon.webp" alt="movies icon" />
    </div>
  </div>
</section>
