<form class="mx-auto" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex items-center justify-center gap-2">
    <input
      formControlName="searchInput"
      type="search"
      id="search"
      class="block w-full p-3 ps-9 font-secondary bg-richblack border border-slate-gray text-anti-flash-white text-sm rounded-lg focus:ring-screaming-green focus:border-screaming-green shadow placeholder:text-anti-flash-white/60"
      placeholder="Search movies or series..."
      required
    />
    <button
      type="submit"
      class="font-secondary text-navy bg-screaming-green hover:bg-screaming-green/90 border border-transparent focus:ring-4 focus:ring-primary-300 shadow font-medium leading-5 rounded-lg text-sm px-4 py-2 focus:outline-none transition-colors"
    >
      Search
    </button>
  </div>
</form>
