<section
  class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0"
>
  <article
    class="w-full bg-richblack border border-slate-gray rounded-lg shadow p-6 space-y-4 md:space-y-6 sm:p-8 md:mt-0 max-w-md"
  >
    <h1
      class="text-2xl font-secondary leading-tight tracking-tight text-screaming-green md:text-2xl"
    >
      Log in
    </h1>
    <form
      class="space-y-4 md:space-y-6"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <div>
        <label
          for="email"
          class="block mb-2 text-sm font-secondary text-anti-flash-white"
          >Your email</label
        >
        <input
          type="email"
          autocomplete="email"
          name="email"
          id="email"
          class="bg-anti-flash-white border border-slate-gray text-richblack text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
          placeholder="name@company.com"
          required=""
          formControlName="email"
        />
        @if (form.controls.email.invalid && form.controls.email.touched) {
        <p class="mt-1 text-sm text-red-500">
          @if (form.controls.email.errors?.['required']) { The email is required
          } @else if (form.controls.email.errors?.['email'] ||
          form.controls.email.errors?.['strictEmail']) { Invalid email format.
          Must include &#64; and domain (e.g., .com, .es) }
        </p>
        }
      </div>
      <div>
        <label
          for="password"
          class="block mb-2 text-sm font-secondary text-anti-flash-white"
          >Password</label
        >
        <input
          type="password"
          autocomplete="current-password"
          name="password"
          id="password"
          placeholder="••••••••"
          class="bg-anti-flash-white border border-slate-gray text-richblack text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
          required=""
          formControlName="password"
        />
        @if (form.controls.password.invalid && form.controls.password.touched) {
        <p class="mt-1 text-sm text-red-500">
          @if (form.controls.password.errors?.['required']) { The password is
          required } @else if (form.controls.password.errors?.['minlength']) {
          The password must have at least 6 characters }
        </p>
        }
      </div>
      @if (errorMessage()) {
      <div class="p-4 text-sm text-red-500 bg-red-100 rounded-lg" role="alert">
        {{ errorMessage() }}
      </div>
      }
      <button
        type="submit"
        [disabled]="isLoading()"
        class="w-full font-secondary text-navy bg-screaming-green hover:bg-screaming-green/90 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center disabled:opacity-50 disabled:cursor-not-allowed hover:cursor-pointer"
      >
        @if (isLoading()) {
        <span>Loading...</span>
        } @else {
        <span>Log in</span>
        }
      </button>
      <p class="text-sm font-light text-anti-flash-white">
        Don't have an account?
        <a
          href="/auth/sign-up"
          class="font-medium text-screaming-green hover:underline"
          >Sign up here</a
        >
      </p>
    </form>
  </article>
</section>
